# Default
*       @gravitee-io/techops

/ae                 @gravitee-io/ae
/am                 @gravitee-io/am
/apim               @gravitee-io/apim
/cockpit            @gravitee-io/cockpit
/designer           @gravitee-io/cockpit