!.gitignore

target/
.idea/
*.iml
.DS_Store

# eclipse
.settings/
.project
.classpath
/bin/
private/
apim/3.x/private/
ae/private/
am/private/
designer/private/
*.tgz
am/*.tgz
am/charts/*.tgz
apim/1.x/charts/*.tgz
apim/3.x/charts/*.tgz
ae/*.tgz
ae/charts/*.tgz