# Default values for gravitee.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
chaos:
  enabled: false

inMemoryAuth:
  enabled: true

mongo:
  rs: rs0
  rsEnabled: true
  dbhost: mongo-mongodb-replicaset
  dbname: gravitee
  dbport: 27017

es:
  protocol: http
  cluster: elasticsearch
  index: gravitee
  host: elastic-elasticsearch-client.default.svc.cluster.local
  port: 9200

api:
  name: api
  debugEnabled: false
  restartPolicy: OnFailure
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  replicaCount: 1
  image:
    repository: graviteeio/management-api
    tag: 1.22.0
    pullPolicy: Always
  service:
    type: ClusterIP
    externalPort: 83
    internalPort: 8083
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 3
    targetAverageUtilization: 50
  ingress:
    enabled: true
    # Used to create an Ingress record.
    hosts:
      - apim.example.com
    annotations:
      kubernetes.io/ingress.class: nginx
      ingress.kubernetes.io/configuration-snippet: "etag on;\nproxy_pass_header ETag;\nproxy_set_header if-match \"\";\n"
      # kubernetes.io/tls-acme: "true"
    #tls:
      # Secrets must be manually created in the namespace.
      # - secretName: chart-example-tls
      #   hosts:
      #     - chart-example.local
    tls:
    - hosts:
      - apim.example.com
      secretName: api-custom-cert
  resources:
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 200m
      memory: 512Mi


gateway:
  type: Deployment
  name: gateway
  replicaCount: 2
  image:
    repository: graviteeio/gateway
    tag: 1.22.0
    pullPolicy: Always
  service:
    type: ClusterIP
    externalPort: 82
    internalPort: 8082
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 6
    targetAverageUtilization: 50
  ingress:
    enabled: true
    # Used to create an Ingress record.
    hosts:
      - apim.example.com
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/enable-rewrite-log: "true"
      kubernetes.io/app-root: /gateway
      kubernetes.io/rewrite-target: /gateway
      # ingress.kubernetes.io/configuration-snippet: "etag on;\nproxy_pass_header ETag;\nproxy_set_header if-match \"\";\n"
      # kubernetes.io/tls-acme: "true"
    #tls:
      # Secrets must be manually created in the namespace.
      # - secretName: chart-example-tls
      #   hosts:
      #     - chart-example.local
    tls:
    - hosts:
      - apim.example.com
      secretName: api-custom-cert
  resources:
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 200m
      memory: 256Mi

ui:
  name: ui
  title: API Portal
  managementTitle: API Management
  replicaCount: 1
  image:
    repository: graviteeio/management-ui
    tag: 1.22.0
    pullPolicy: Always
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 3
    targetAverageUtilization: 50
  service:
    name: nginx
    type: ClusterIP
    externalPort: 8002
    internalPort: 80
  ingress:
    enabled: true
    # Used to create an Ingress record.
    hosts:
      - apim.example.com
    annotations:
      kubernetes.io/ingress.class: nginx
      kubernetes.io/app-root: /management
      kubernetes.io/rewrite-target: /management
      ingress.kubernetes.io/configuration-snippet: "etag on;\nproxy_pass_header ETag;\n"
    #tls:
      # Secrets must be manually created in the namespace.
      # - secretName: chart-example-tls
      #   hosts:
      #     - chart-example.local
    tls:
    - hosts:
      - apim.example.com
      secretName: api-custom-cert
  resources:
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
