{{- if .Values.gateway.enabled -}}
apiVersion: apps/v1
kind: {{ .Values.gateway.type }}
metadata:
  name: {{ template "gravitee.gateway.fullname" . }}
  labels:
    app: {{ template "gravitee.name" . }}
    component: "{{ .Values.gateway.name }}"
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  {{- if eq .Values.gateway.type "StatefulSet" }}
  serviceName: {{ template "gravitee.gateway.fullname" . }}
  updateStrategy:
    type: RollingUpdate
  {{- end }}
  {{- if eq .Values.gateway.type "Deployment" }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  {{- end }}
  replicas: {{ .Values.gateway.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "gravitee.name" . }}
      component: "{{ .Values.gateway.name }}"
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        chaos.alpha.kubernetes.io/enabled: "{{ .Values.chaos.enabled }}"
        {{- if .Values.gateway.reloadOnConfigChange }}
        checksum/config: {{ include (print $.Template.BasePath "/gateway-configmap.yaml") . | sha256sum }}
        {{- end }}
      labels:
        app: {{ template "gravitee.name" . }}
        component: "{{ .Values.gateway.name }}"
        release: {{ .Release.Name }}
    spec:
    {{- if .Values.gateway.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.gateway.nodeSelector | indent 8 }}
    {{- end }}
      containers:
        - name: {{ template "gravitee.gateway.fullname" . }}
          image: "{{ .Values.gateway.image.repository }}:{{ .Values.gateway.image.tag }}"
          imagePullPolicy: {{ .Values.gateway.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.gateway.service.internalPort }}
          {{- if .Values.gateway.lifecycle }}
          lifecycle:
            {{- if .Values.gateway.lifecycle.postStart }}
            postStart:
              exec:
                command: {{ .Values.gateway.lifecycle.postStart }}
            {{- end }}
            {{- if .Values.gateway.lifecycle.preStop }}
            preStop:
              exec:
                command: {{ .Values.gateway.lifecycle.preStop }}
            {{- end }}
          {{- end }}
          livenessProbe:
            tcpSocket:
              port: {{ .Values.gateway.service.internalPort }}
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            tcpSocket:
              port: {{ .Values.gateway.service.internalPort }}
            initialDelaySeconds: 5
            periodSeconds: 30
          resources:
{{ toYaml .Values.gateway.resources | indent 12 }}
          volumeMounts:
            - name: config
              mountPath: /opt/graviteeio-gateway/config/gravitee.yml
              subPath: gravitee.yml
          {{- if .Values.gateway.logging.debug }}
            - name: config
              mountPath: /opt/graviteeio-gateway/config/logback.xml
              subPath: logback.xml
          {{- end }}
          {{- with .Values.gateway.extraVolumeMounts }}
          {{- tpl . $ | nindent 12 }}
          {{- end }}
      {{- if .Values.gateway.image.pullSecrets }}
      imagePullSecrets:
        - name: {{ .Values.gateway.image.pullSecrets }}
      {{- end }}
      volumes:
        - name: config
          configMap:
            name: {{ template "gravitee.gateway.fullname" . }}
        {{- with .Values.gateway.extraVolumes }}
          {{- tpl . $ | nindent 8 }}
        {{- end }}
{{- end -}}
